VITE_FIREBASE_API_KEY=AIzaSyB6HNgnhYVHUCc7dYZDQkOJr764yt8GPlo
VITE_FIREBASE_AUTH_DOMAIN=blt-dd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=blt-dd
VITE_FIREBASE_STORAGE_BUCKET=blt-dd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=140975076564
VITE_FIREBASE_APP_ID=1:140975076564:web:4c06edae069d6f8ccf7741
VITE_FIREBASE_MEASUREMENT_ID=G-0G9TEEJGDD
VITE_API_BASE_URL=http://127.0.0.1:8000

FIREBASE_DATABASE_URL=https://blt-dd-default-rtdb.asia-southeast1.firebasedatabase.app
